#root, body{
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

span{
	color: black;
}

.page{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tsecret{
	width: 100%;
	white-space:pre;
	text-align: center;
    font-size: 32px;
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.bday-wishlist-button{
	font-size: 24px;
	margin: 10px;
	margin-top: 100px;
	cursor: pointer;
}


.header{
	font-size: 32px;
	margin: 20px;
}

.desc{
	font-size: 20px;
	width: 90%;
	max-width: 500px;
	text-align: center;
}

.wishlist-container{
	padding: 10px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wishlist-item-container{
	width: 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	border-radius: 8px;
	padding: 8px;
	padding-bottom: 60px;
	position: relative;
}

.wishlist-item-container:hover{
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.wishlist-item-image{
	width: 90%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
    object-fit: contain;
}

.wishlist-item-name{
	margin: 10px;
	font-weight: 600;
}

.wishlist-item-reason{
	width: 90%;
	text-align: center;
	margin: 10px;
}

.shop-icon{
	width: 40px;
	height: 40px;
	margin: 10px;
	cursor: pointer;
}


.button{
	margin: 10px;
}

.ant-btn:hover, .ant-btn:focus {
	color: black !important;
	border-color: black !important;
}

.card-number{
  font-size: 24px;
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-number:hover{
  color: black;
}


@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

@keyframes tracking-in-contract-bck {
0% {
	letter-spacing: 1em;
	-webkit-transform: translateZ(400px);
			transform: translateZ(400px);
	opacity: 0;
}
40% {
	opacity: 0.6;
}
100% {
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	opacity: 1;
}
}
