@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  root {}

  html {
    font-family: "Noto Sans", sans-serif;
    background-color: #191919 !important;
    background-image: url("https://cdn.prod.website-files.com/6092f6c2aa52e641c787b0ce/65546d5d810d1caeaa050d8b_grain-background.png");
    background-size: 1441px
  }

  .row {
    @apply flex flex-row items-center justify-center
  }

  .col {
    @apply flex flex-col items-center justify-center
  }
}
